body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  display: block;
  color: #3e95cd;
  padding: 2px 10px;
}

a:hover {
  background: #ddd;
}
.modal .form-group {
  margin: 0 5px;
  float: left;
}
.modal .form-group:nth-child(1) {
  width: 135px;
}
.modal .form-group.chartvalue {
  width: calc(100% - 295px);
}

#context-menu {
  position:absolute; display:none;
}

#context-menu ul, #context-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}