.form-group {
  &_sidebar {
    .form-control {
      border: none;
      height: 60px;
      padding: 0 50px 0 30px;
      @include placeholder {
        font-size: 14px;
        color: $color-aluminium;
      }
    }
    .icon {
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      &.icon-arrow-down {
        right: 70px;
      }
    }
  }
  &_textfield {
    padding-bottom: 50px;
    border-bottom: 1px solid $color-athens-gray;
    .icon {
      position: absolute;
      bottom: 20px;
      &_font {
        left: auto;
      }
    }
  }
}