.tag {
  font-size: 12px;
  line-height: 24px;
  max-height: 32px;
  border: 1px solid $color-gray-lighter;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 10px;
  display: inline-block;
  transition: border-color 0.5s;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover {
    border-color: $color-main;
  }
}