@media screen and (min-height: 900px) and (min-width: 1200px){
  .block-chair,
  .block-partners,
  .block-prizes:not(.block-prizes_show-video),
  .block-tanks,
  .block-mechanics,
  .block-winners,
  .block-faq {
    .wrapper {
      transform: scale(1.3);
      z-index: 1;
    }
  }
  .block-faq {
    padding-top: 420px;
    padding-bottom: 360px;
  }
  .footer {
    padding-bottom: 100px;
    .wrapper {
      transform: scale(1.3);
    }
  }
  .block-winners {
    padding-top: 260px;
    padding-bottom: 340px;
  }
}
