.heading {
  &_h1 {
    font-family: Impact;
    font-style: normal;
    font-weight: 900;
    font-size: 86.9501px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-shadow: -1px 0 $color-white, 0 1px $color-white, 1px 0 $color-white, 0 -1px $color-white;
    //&:before {
    //  content: '#levelpringles';
    //  color: $color-main;
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  font-family: Impact;
    //  font-style: normal;
    //  font-weight: 900;
    //  font-size: 86.9501px;
    //  line-height: 74px;
    //  text-align: center;
    //  letter-spacing: 0.02em;
    //  text-transform: uppercase;
    //
    //}
  }
  &_h2 {
    font-size: 19px;
  }
}