.modal {
  position: fixed;
  //top: 20%;
  left: 15px;
  right: 15px;
  z-index: 10;
  display: none;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
  font-family: 'KelsonSans';
  background-color: $color-tricky-porcelain;
  box-shadow: 8px 47px 46px rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  background-position: top center;
  background-image: url(../img/modal-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  overflow-y: auto;
  box-sizing: border-box;

  &_state_open {
    display: block;
  }

  &_full-height {
    top: 15px;
    height: calc(100vh - 30px);
  }

  @media screen and (max-width: 600px){
    padding: 60px 40px 30px;
  }

  @media screen and (max-width: 420px){
    padding: 30px 15px 15px;
  }

  &_view_success-upload-receipt {
    @media #{$phone-only} {
      padding-top: 60px;
    }
  }



  @media #{$desktop} {
    left: 50%;
    right: auto;
    box-sizing: border-box;
    width: 750px;
    padding-top: 65px;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 75px;
    margin-left: -375px;
  }

  &_view_content {
    overflow-x: hidden;
    max-height: calc(100vh - 30px);
    padding-top: 75px;
    padding-bottom: 0;
    background-image: unset;
    background-color: $color-white;

    @media #{$desktop} {
      width: 1024px;
      margin-left: -512px;
      padding-top: 90px;
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  &__container-close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  &__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__close-icon {
    width: 17px;
    height: 17px;
    fill: $gray;
    transition: all 0.5s ease-in-out;

    &:hover {
      @media (hover: hover) and (min-width: 1024px) {
        fill: $color-red;
      }
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
  }

  &_view_content &__slogan {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 28px;

    @media #{$desktop} {
      margin-bottom: 55px;
      font-size: 36px;
      line-height: 1.2;
    }
  }

  &_view_subscription-chair-success &__slogan {
    color: $color-success;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__form {
    width: 290px;
  }

  &_view_auth &__content,
  &_view_subscription-chair &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .close-modal {
    display: none;
  }

  &__icon-container {
    margin-bottom: 20px;
  }

  &__icon-success {
    width: 130px;
    height: 130px;
    fill: $color-success;
  }

  //@media screen and (max-width: 1000px) and (max-height: 700px){
  //  &:not(.modal_view_auth){
  //    top: 0;
  //    bottom: 0;
  //    height: 600px;
  //    box-sizing: border-box;
  //    margin: auto;
  //  }
  //
  //}
  //@media screen and (max-width: 1000px) and (max-height: 600px){
  //  &:not(.modal_view_auth){
  //    padding: 40px 15px;
  //    top: 20px;
  //    bottom: 20px;
  //    height: auto;
  //  }
  //}
  @media screen and (max-width: 370px){
    &__form {
      width: auto;
    }
  }
}

.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  align-items: center;
}
