.socials {
  &_fixed {
    position: fixed;
    left: 45px;
    top: 360px;
    z-index: 3;
  }
  &__item {
    display: block;
    margin: 3.5px 0;
    &_menu {
      display: inline-block;
      margin: 0 5px;
    }
  }
  &_menu,
  &_footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 44px;
    @media screen and (max-width: 880px){
      margin-top: 15px;
      margin-bottom: 25px;
    }
  }
  &_footer {
    margin-top: 40px;
    margin-bottom: 38px;
  }
  @media screen and (max-width: 1024px){
    &_fixed {
      display: none;
    }
  }
}