.block-partners {
  background: url(../img/white-pattern-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  min-height: 480px;
  .wrapper {
    width: 890px;
  }
  &__partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //margin-bottom: -30px;
    justify-content: space-between;
  }
  &__item {
    //flex: 1 1 200px;
    //text-align: center;
    //margin-bottom: 30px;
    width: 200px;
    svg path {
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
    img {
      width: 100%;
    }
    @media (hover: hover) and (min-width: 1024px) {
      &:hover {
        svg path {
          fill: $color-yellow;
        }
      }
      &:active {
        svg path {
          fill: $color-orange;
        }
      }
    }
  }
  h3 {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1024px){
    &__partners {
      padding: 0 20px;
    }
    &__item {
      width: 18vw;
    }
    h3 {
      text-align: center;
    }
  }
  @media screen and (max-width: 600px){
    min-height: auto;
    height: auto!important;
    padding-top: 60px;
    padding-bottom: 60px;
    &__partners {
      display: block;
    }
    &__item {
      max-width: 180px;
      width: 50%;
      margin: 0 auto 50px auto;
    }
  }
  @media screen and (max-width: 420px){
    background-attachment: initial;
  }
}