@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue.woff);
}
@font-face {
  font-family: FiraSansCondensed;
  src: url(../fonts/FiraSansCondensed-ExtraBoldItalic.woff);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: FiraSansCondensed;
  src: url(../fonts/FiraSansCondensed-MediumItalic.woff);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-SemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Medium.otf);
  font-weight: 500;
}

$blue: #2a396a;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

body {
  background: #000 url(../img/bg1.jpg) center 0 no-repeat;
}

.wrapper {
  width: 100%;
  max-width: 905px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.btn {
  padding: 0;
  span {
    color: #000;
    font-weight: 900;
    letter-spacing: -1px;
    display: block;
    margin-top: -8px;
  }
}

.nav {
  li {
    position: relative;
    a {
      font-family: BebasNeue;
      color: #fff;
      font-weight: 600;
      font-size: 17.61px;
      display: inline-block
    }
  }
  &.nav-bottom {
    margin: 0 auto 45px 0;
    display: block;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 18px;
    }
  }
}

.form-control {
  outline: none;
  border: none;
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

header {
  height: 112px;
  .wrapper {
    max-width: 1320px;
  }
  .ab-logo,
  .mc-logo {
    line-height: 112px;
  }
  .ab-logo {
    float: left;
    margin-right: 50px;
    img {
      width: 166px;
    }
  }
  .mc-logo {
    float: left;
    img {
      width: 190px;
    }
  }
  .nav {
    float: right;
    margin-top: 42px;
    li {
      float: left;
      &:not(:last-child){
        margin-right: 30px;
      }
    }
  }
  .btn {
    float: right;
    background: url(../img/btn-header.png);
    width: 186px;
    height: 57px;
    margin: 30px 0 0 35px;
    span {
      font-size: 13px;
      margin-left: 18px;
    }
  }
}

form {
  background-color: #fff;
  width: 100%;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 45px 65px 0 rgba(37, 54, 87, 0.1);
  padding: 270px 0 50px 0;
  margin: 60px 0 80px 0;
  .form-wrapper {
    width: 630px;
    margin: 0 auto;
  }
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: -85px;
    margin: auto;
  }
  h3 {
    text-align: center;
    span {
      &:nth-child(1) {
        display: block;
        font-family: FiraSansCondensed;
        color: #ffdd00;
        font-size: 36px;
        line-height: 52px;
        font-weight: 900;
        font-style: italic;
        text-shadow: 0 6px 9px #000;
        -webkit-text-fill-color: #ffdd00;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        margin-bottom: 5px;
      }
      &:nth-child(2) {
        font-family: FiraSansCondensed;
        color: #000;
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
  .form-container {
    margin-top: 45px;
    &:nth-of-type(1) {
      float: left;
    }
    &:nth-of-type(2) {
      float: right;
    }
    .form-group {
      font-family: Gilroy;
      width: 285px;
      color: $blue;
      span {
        font-size: 13.66px;
        font-weight: 600;
        line-height: 35px;
      }
      .form-control {
        font-family: Gilroy;
        font-size: 19.5px;
        color: $blue;
        font-weight: 600;
        border: none;
        border-bottom: 1px solid #d4d7e1;
        padding: 10px 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        @include placeholder {
          color: $blue;
        }
        &[type=checkbox] {
          position: absolute;
          visibility: hidden;
          & + label {
            position: relative;
            display: inline;
            cursor: pointer;
            font-size: 13.66px;
            font-weight: 600;
            padding-left: 25px;
            &:before {
              content: '';
              position: absolute;
              background-color: #fff;
              border: 2px solid $blue;
              width: 16px;
              height: 16px;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
            }
            &.switch {
              background-color: #d4d7e1;
              -webkit-box-shadow: inset 0 3px 7px 0 rgba(104,109,124,0.35);
              -moz-box-shadow: inset 0 3px 7px 0 rgba(104,109,124,0.35);
              box-shadow: inset 0 3px 7px 0 rgba(104,109,124,0.35);
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              border-radius: 30px;
              width: 115px;
              height: 36px;
              position: relative;
              display: block;
              padding: 3px;
              text-align: center;
              float: right;
              &:before {
                display: none;
              }
              .slider {
                font-size: 13.66px;
                font-weight: 600;
                line-height: 30px;
                width: 50%;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                &:nth-child(1) {
                  float: left;
                }
                &:nth-child(2) {
                  float: right;
                  background-color: #fff;
                  box-shadow: 0 2px 2px 0 rgba(23, 30, 51, 0.35);
                }
              }
            }
          }
          &:checked {
            & + label {
              &:after {
                content: '';
                position: absolute;
                background-color: $blue;
                width: 10px;
                height: 10px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                left: 3px;
                top: 0;
                bottom: 0;
                margin: auto;
              }
              &.switch {
                &:after {
                  display: none;
                }
                .slider {
                  &:nth-child(1) {
                    background-color: #fff;
                    box-shadow: 0 2px 2px 0 rgba(23, 30, 51, 0.35);
                  }
                  &:nth-child(2) {
                    float: right;
                    background-color: transparent;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .btn {
    background: url(../img/form-btn.png);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: auto;
    width: 218px;
    height: 70px;
    z-index: 1;
    span {
      font-size: 16px;
    }
  }
}

.bottom-logos {
  width: 375px;
  margin: 0 auto 50px auto;
  .ab-logo {
    float: left;
    img {
      width: 142px;
    }
  }
  .mc-logo {
    float: right;
    img {
      width: 164px;
    }
  }
}

footer {
  text-align: center;
  padding-bottom: 75px;
  .socials {
    margin-bottom: 45px;
    a {
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #191a1a;
      width: 42px;
      height: 42px;
      position: relative;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &.fb {
        img {
          width: 10px;
        }
      }
      &.tw {
        img {
          width: 22px;
        }
      }
      &.in {
        img {
          width: 21px;
        }
      }
    }
  }
  p {
    font-family: Gilroy;
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    font-weight: 600;
    margin-bottom: 0;
  }
}

