@font-face {
  font-family: CeraCy;
  src: url(../fonts/CeraCY-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: CeraCy;
  src: url(../fonts/CeraCY-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: CeraCy;
  src: url(../fonts/CeraCY-Medium.ttf);
  font-weight: 500;
}
body {
  font-family: CeraCY;
  color: #1c1618;
  font-weight: 400;
}

a:hover, a:focus, button.btn:hover, button.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

h1 {
  font-size: 67px;
  font-weight: 100;
  line-height: 80px;
}

h2 {
  font-size: 45px;
  font-weight: 100;
  line-height: 60px;
}

.form-control {
  outline: none;
  border: none;
}
.form-control:hover, .form-control:focus {
  outline: none;
  box-shadow: none;
}

.wrapper {
  width: 100%;
  max-width: 1720px;
  padding: 0 14px;
  margin: 0 auto;
  position: relative;
}

form .form-group input {
  font-size: 20px;
  color: #8d8d8d;
  font-weight: 100;
  height: 60px;
  line-height: 60px;
}
form .btn {
  background-color: #ef3125;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  width: 220px;
  height: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 500;
}
form .btn:hover {
  background-color: #de2014;
}
form.form-more {
  width: 540px;
}
form.form-more .form-group {
  float: left;
  margin-bottom: 0;
}
form.form-more .form-group .form-control {
  background-color: rgba(165, 163, 164, 0.2);
  width: 290px;
  padding-left: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form.form-more .btn {
  float: right;
}
form.form-order {
  width: 540px;
}
form.form-order h2 {
  margin-bottom: 30px;
}
form.form-order .form-group {
  margin-bottom: 20px;
}
form.form-order .form-group .form-control {
  border-bottom: 1px solid #a5a3a4;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 10px;
}
form.form-order .form-group .hint {
  color: #a5a3a4;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
}
form.form-order .btn {
  width: 350px;
  margin: 35px 0 20px 0;
}
form.form-order .submit-hint {
  color: #a5a3a4;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
}
form.form-order .submit-hint a {
  color: #1c1618;
  border-bottom: 1px solid #a5a3a4;
  padding-bottom: 3px;
}

.side-nav {
  height: 130px;
  width: 10px;
  position: fixed;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.side-nav li {
  width: 100%;
  text-align: center;
}
.side-nav li a {
  background-color: rgba(28, 22, 24, 0.3);
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
.side-nav li.active a {
  background-color: #1c1618;
  width: 6px;
  height: 6px;
}

.arrow {
  height: 13px;
  width: 7px;
  display: block;
  margin: auto;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
}
.arrow:before, .arrow:after {
  content: "";
  height: 8px;
  width: 2px;
  background-color: #ef3125;
  position: absolute;
  right: 3px;
}
.arrow.next:before {
  top: 0;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow.next:after {
  top: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-only-900,
.mobile-only-768 {
  display: none;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  list-style: none;
  text-align: center;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  padding: 0;
  margin: 0 7px;
}
.slick-dots li button {
  background-color: rgba(28, 22, 24, 0.2);
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
}
.slick-dots li button:focus {
  box-shadow: none;
  outline: none;
}
.slick-dots li.slick-active button {
  background-color: #ef3125;
  border-color: #ef3125;
}

header {
  height: 110px;
  color: #ffa29c;
  font-weight: 400;
}
header .wrapper {
  height: 100%;
  padding: 0 30px;
}
header .btn-mobile-toggle {
  display: none;
}
header .btn-close {
  display: none;
}
header .logo {
  line-height: 110px;
  float: left;
  margin-right: 40px;
}
header .logo img {
  width: 103px;
}
header .nav {
  display: block;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 110px;
}
header .nav li {
  float: left;
  margin: 0 20px;
  position: relative;
}
header .nav li a {
  color: #ffa29c;
  font-size: 16px;
  line-height: 57px;
  display: inline-block;
}
header .nav li.active a {
  color: #fff;
  cursor: initial;
}
header .nav li.active:before {
  content: "";
  position: absolute;
  width: 5000px;
  height: 1px;
  background-color: #fff;
  right: 0;
  top: 0;
}
header .nav li:first-child {
  margin-left: 0;
}
header .nav li:hover a {
  color: #fff;
}
header .ab-link {
  font-size: 16px;
  color: #ffa29c;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  line-height: 110px;
  float: right;
}
header .ab-link .btn {
  background-color: rgba(255, 255, 255, 0.55);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  margin: -2px 0 0 5px;
}
header .ab-link:hover .btn {
  background-color: white;
}
header.inverted {
  background-color: transparent;
  border-top: 1px solid #1c1618;
}
header.inverted .nav li a {
  color: #a5a3a4;
}
header.inverted .nav li.active a {
  color: #1c1618;
}
header.inverted .nav li.active:before {
  background-color: #ef3125;
  top: -1px;
}
header.inverted .nav li:hover a {
  color: #1c1618;
}
header.inverted .ab-link {
  color: #a5a3a4;
}
header.inverted .ab-link .btn {
  border-color: #a5a3a4;
}
header.inverted .ab-link .btn .arrow:before, header.inverted .ab-link .btn .arrow:after {
  background-color: #a5a3a4;
}
header.inverted .ab-link:hover {
  color: #1c1618;
}
header.inverted .ab-link:hover .btn {
  background-color: #ef3125;
  border-color: #ef3125;
}
header.inverted .ab-link:hover .btn .arrow:before, header.inverted .ab-link:hover .btn .arrow:after {
  background-color: #fff;
}
header.inverted form {
  float: right;
  height: 100%;
  padding: 25px 0;
}

header.header-main {
  background-color: #ef3125;
}

.block1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}
.block1 h1 {
  margin-bottom: 40px;
}
.block1 h1 sup {
  font-size: 37px;
}
.block1 img {
  width: 840px;
}
.block1 h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  width: 500px;
  margin: 0 auto 70px auto;
}
.block1 form {
  margin: 65px auto 0 auto;
}

.block2 {
  padding-top: 40px;
  overflow: hidden;
}
.block2 .wrapper {
  max-width: 1170px;
  padding-bottom: 185px;
}
.block2 h2 {
  text-align: left;
}
.block2 h2 span {
  display: block;
}
.block2 .advantages-pic {
  width: 710px;
  position: absolute;
  right: -228px;
  bottom: 0;
  z-index: -1;
}
.block2 .advantages {
  width: 700px;
  margin-top: 70px;
}
.block2 .advantages .item {
  float: left;
  width: 50%;
  height: 70px;
  margin-bottom: 60px;
}
.block2 .advantages .item img {
  width: 52px;
  float: left;
}
.block2 .advantages .item div {
  font-size: 20px;
  line-height: 26px;
  padding-left: 72px;
}
.block2 .advantages .item div span {
  color: #a5a3a4;
  font-size: 14px;
  display: block;
  margin-top: -3px;
}
.block2 form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
}

.block3 {
  padding: 40px 15px 0 15px;
  overflow: hidden;
}
.block3 .wrapper {
  max-width: 1170px;
  height: 100%;
}
.block3 h2 {
  text-align: center;
  margin-bottom: 15px;
}
.block3 p {
  color: #a5a3a4;
  font-size: 14px;
  text-align: center;
}
.block3 .service-pic {
  width: 500px;
  position: absolute;
  left: -120px;
  bottom: 0;
}
.block3 .premium {
  float: right;
  width: 745px;
  margin-top: 90px;
}
.block3 .premium .item {
  float: left;
  width: 50%;
  height: 70px;
  margin-bottom: 60px;
}
.block3 .premium .item img {
  float: left;
}
.block3 .premium .item div {
  font-size: 20px;
  line-height: 26px;
  padding-left: 60px;
}
.block3 .premium .item div span {
  color: #a5a3a4;
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-top: 5px;
}
.block3 .premium .item:nth-child(1) img {
  width: 44px;
}
.block3 .premium .item:nth-child(2) img {
  width: 39px;
}
.block3 .premium .item:nth-child(3) img {
  width: 40px;
}
.block3 .premium .item:nth-child(4) img {
  width: 36px;
}
.block3 .premium .item:nth-child(5) img {
  width: 46px;
}
.block3 .premium .item:nth-child(6) img {
  width: 30px;
}
.block3 form.form-more {
  margin: 40px auto 80px auto;
}

.block4 {
  padding-top: 50px;
}
.block4 .wrapper {
  max-width: 1170px;
  padding-bottom: 60px;
}
.block4 img {
  width: 560px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.footer {
  background-color: #0d0e12;
  height: 150px;
  overflow: hidden;
}
.footer .wrapper {
  padding: 0 20px;
}
.footer p {
  color: #676666;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  height: 45px;
  float: left;
  margin: 53px 0;
}
.footer .logo {
  line-height: 150px;
  float: right;
}
.footer .logo img {
  width: 164px;
}

@media screen and (max-width: 1400px) {
  .block2 .advantages-pic {
    right: -175px;
  }
}
@media screen and (max-width: 1300px) {
  .block2 .advantages-pic {
    width: 620px;
    right: -100px;
  }

  header.inverted form {
    width: auto;
  }
  header.inverted form .form-group {
    margin-right: 30px;
  }
  header.inverted form .form-group input {
    width: 230px;
  }
  header.inverted form .btn {
    width: 190px;
  }
}
@media screen and (max-width: 1200px) {
  .side-nav {
    display: none;
  }

  h1 {
    font-size: 47px;
    line-height: 60px;
  }

  h2 {
    font-size: 35px;
    line-height: 50px;
  }

  .block1 h1 sup {
    font-size: 27px;
  }
  .block1 h3 {
    font-size: 20px;
    margin: 0 auto 50px auto;
  }
  .block1 form {
    margin: 25px auto 0 auto;
  }

  header.inverted form .form-group {
    margin-right: 15px;
  }
  header.inverted form .form-group input {
    width: 180px;
  }
  header.inverted form .btn {
    width: 180px;
  }

  .block2 .advantages-pic {
    right: -120px;
  }
  .block2 .advantages .item div {
    font-size: 18px;
  }

  .block3 {
    padding: 70px 15px 0 15px;
  }
  .block3 h2 {
    margin-bottom: 10px;
  }
  .block3 p {
    margin-bottom: 50px;
  }
  .block3 .service-pic {
    position: relative;
    display: block;
    margin: 0 auto;
    left: auto;
  }
  .block3 .premium {
    margin: 40px auto 0 auto;
    float: none;
  }
  .block3 .premium .item div {
    font-size: 18px;
  }
  .block3 form.form-more {
    margin: 0 auto 80px auto;
  }
}
@media screen and (max-width: 1150px) {
  .block2 {
    padding-top: 0;
  }
  .block2 .wrapper {
    padding-bottom: 120px;
  }
  .block2 .advantages {
    width: 680px;
    margin-top: 45px;
  }
  .block2 .advantages .item {
    margin-bottom: 30px;
  }
  .block2 .advantages-pic {
    content: url("../img/advant-pic_tablet.jpg");
    width: 480px;
    right: -20px;
  }
  .block2 form.form-more {
    bottom: 7vw;
  }

  .block3 form.form-more {
    margin-bottom: 7vw;
  }
}
@media screen and (max-width: 1100px) {
  .block1 {
    padding-bottom: 40px;
  }

  .block2 .advantages {
    width: 640px;
  }
  .block2 .advantages-pic {
    width: 40vw;
  }

  .block4 {
    padding-top: 0;
  }
  .block4 .wrapper {
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .block4 img {
    width: 460px;
    bottom: -130px;
  }

  form.form-order h2 {
    margin-bottom: 10px;
  }
  form.form-order .form-group {
    margin-bottom: 12px;
  }
  form.form-order .form-group .form-control {
    font-size: 18px;
    line-height: 50px;
    height: 50px;
  }
  form.form-order .btn {
    margin: 15px 0;
  }
}
@media screen and (max-width: 1050px) {
  header {
    height: 90px;
  }
  header .wrapper {
    padding: 0 15px;
  }
  header .nav {
    line-height: 90px;
  }
  header .nav li {
    margin: 0 15px;
  }
  header .logo {
    line-height: 90px;
    margin-right: 30px;
  }
  header .logo img {
    width: 96px;
  }
  header .ab-link {
    line-height: 90px;
  }
  header.inverted form {
    padding: 15px 0;
  }
}
@media screen and (max-width: 1000px) {
  header.inverted form {
    display: none;
  }

  .block4 img {
    display: none;
  }

  form.form-order {
    margin: 0 auto;
  }
}
@media screen and (max-width: 950px) {
  header .ab-link .text-toggle {
    display: none;
  }
  header .logo img {
    width: 82px;
  }
}
@media screen and (max-width: 900px) {
  .mobile-only-900 {
    display: block;
  }

  header {
    height: 78px;
  }
  header .btn-mobile-toggle {
    display: block;
    float: left;
    line-height: 78px;
    margin-right: 20px;
    margin-top: -2px;
  }
  header .btn-mobile-toggle img {
    width: 20px;
  }
  header .btn-close {
    display: block;
    line-height: 78px;
    float: left;
    margin-right: 20px;
  }
  header .btn-close img {
    width: 17px;
  }
  header .menu {
    display: none;
    background-color: #ef3125;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9;
    padding: 20px;
  }
  header .menu:before {
    content: "";
    background-color: #fff;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  header .menu .nav {
    clear: both;
    margin-left: 36px;
    margin-top: 38px;
  }
  header .menu .nav li {
    float: none;
    margin-left: 0;
    line-height: 1;
  }
  header .menu .nav li.active:before {
    display: none;
  }
  header .menu .nav li a {
    line-height: 55px;
  }
  header .menu .ab-link {
    line-height: 38px;
    width: 200px;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
  }
  header .logo {
    line-height: 78px;
    margin-top: -1px;
  }
  header .logo img {
    width: 82px;
  }
  header .ab-link {
    line-height: 78px;
  }
  header.inverted .nav {
    line-height: 78px;
  }

  .side-nav {
    display: none;
  }

  .block1 img {
    width: 90%;
  }

  .block2 h2 {
    text-align: center;
  }
  .block2 h2 span {
    display: inline;
  }
  .block2 .advantages {
    margin: 5vw auto 0 auto;
  }
  .block2 .advantages-pic {
    content: url("../img/advant-pic_mobile.jpg");
    width: 90%;
    margin: 6vw auto 0 auto;
    position: relative;
    display: block;
  }

  .block3 {
    padding: 0 15px 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-only-768 {
    display: block;
  }

  h2 {
    font-size: 6.3vw;
    line-height: 9vw;
  }

  header.inverted {
    border-top-color: #ef3125;
  }
  header.inverted .nav {
    display: none;
  }
  header.inverted .ab-link {
    display: none;
  }

  .block1 h1 {
    font-size: 5.8vw;
    line-height: 7.5vw;
    margin-bottom: 4.5vw;
  }
  .block1 h1 sup {
    font-size: 4vw;
  }
  .block1 h3 {
    font-size: 2.3vw;
    line-height: 3.5vw;
    margin-bottom: 5.5vw;
  }

  .block2 .advantages, .block2 .premium, .block3 .advantages, .block3 .premium {
    width: 315px;
  }
  .block2 .advantages .item, .block2 .premium .item, .block3 .advantages .item, .block3 .premium .item {
    width: auto;
    margin: 0 auto 30px auto;
  }

  .block2 .advantages-pic {
    width: 120%;
    left: -18px;
  }
  .block2 .advantages .item {
    float: none;
  }
  .block2 .advantages .item div {
    padding-left: 74px;
  }
  .block2 .advantages .item img {
    margin-left: 2px;
  }
  .block2 .advantages .slick-dots {
    margin-top: -20px;
  }

  .block3 {
    padding-top: 0;
  }
  .block3 .premium {
    margin: 10px auto 35px auto;
  }
  .block3 .premium .item {
    text-align: center;
    height: auto;
    margin: 0 0 15px 0;
  }
  .block3 .premium .item img {
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  .block3 .premium .item div {
    padding-left: 0;
  }
  .block3 .premium .item:nth-child(1) img {
    width: 58px;
  }
  .block3 .premium .item:nth-child(2) img {
    width: 53px;
  }
  .block3 .premium .item:nth-child(3) img {
    width: 48px;
  }
  .block3 .premium .item:nth-child(4) img {
    width: 48px;
  }
  .block3 .premium .item:nth-child(5) img {
    width: 61px;
  }
  .block3 .premium .item:nth-child(6) img {
    width: 40px;
  }

  .block4 .wrapper {
    padding-top: 0;
  }

  .footer {
    height: 88px;
  }
  .footer p {
    font-size: 12px;
    margin: 22px 0;
  }
  .footer .logo {
    line-height: 88px;
  }
  .footer .logo img {
    width: 106px;
  }
}
@media screen and (max-width: 640px) {
  form.form-more {
    width: 100%;
  }
  form.form-more .form-group {
    width: 52%;
  }
  form.form-more .form-group .form-control {
    width: 100%;
  }
  form.form-more .btn {
    width: 44%;
  }

  .block1 {
    padding-top: 10vw;
  }
  .block1 h3 {
    width: 340px;
  }

  .block3 .service-pic {
    width: 90%;
  }

  form.form-order {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  form.form-more .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  form.form-more .form-group .form-control {
    font-size: 16px;
    height: 46px;
    line-height: 46px;
  }
  form.form-more .btn {
    font-size: 17px;
    width: 100%;
    height: 46px;
  }

  .wrapper {
    padding: 0 5px;
  }

  .block1 {
    padding-bottom: 7vw;
  }
  .block1 h1 {
    margin-bottom: 7vw;
  }
  .block1 h3 {
    width: auto;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 9vw;
  }

  .block2 .wrapper {
    padding-bottom: 147px;
  }
  .block2 .advantages .item {
    height: auto;
    margin: 0 auto 35px auto;
  }
  .block2 .advantages .item div {
    font-size: 15px;
    line-height: 21px;
  }

  .block3 .service-pic {
    width: 100%;
  }

  .block4 .wrapper {
    padding-bottom: 10px;
  }

  form.form-order h2 {
    margin-bottom: 5px;
  }
  form.form-order .form-group .form-control {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  form.form-order .form-group .hint {
    font-size: 12px;
  }
  form.form-order .btn {
    font-size: 17px;
    height: 46px;
    width: 100%;
    margin: 15px 0 20px 0;
  }
  form.form-order .submit-hint {
    font-size: 13px;
  }

  .footer .logo {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .block1 h1 {
    font-size: 21px;
    line-height: 26px;
  }

  .block2 .advantages {
    width: auto;
  }
  .block2 .advantages .item div span {
    font-size: 12px;
  }

  .block3 p {
    margin-bottom: 10vw;
  }
  .block3 .premium {
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */
