.login-container {
  background-color: #fff;
  padding: 25px 35px;
  max-width: 350px;
  min-width: 260px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform:         translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform:    translate(-50%, -50%);
  -ms-transform:     translate(-50%, -50%);
  -o-transform:      translate(-50%, -50%);
  text-align: center;
  -webkit-box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.05);
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.05);
  .login-container__header {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
  }
  .form-group {
    position: relative;
    margin-bottom: 6px;
    .input-group {
      .input-group__icon {
        left: 12px;
        opacity: 0.5;
      }
      input {
        padding: 0 6px 0 38px!important;
        line-height: 28px;
       // color: #ACACAC;
        &::-webkit-input-placeholder {
          color: #ACACAC;
        }
        &::-moz-placeholder {
          color: #ACACAC;
        }
        &:-ms-input-placeholder {
          color: #ACACAC;
        }
        &:-moz-placeholder {
          color: #ACACAC;
        }
      }
      .svg-inline--fa.fa-w-16 {
        width: 17px;
        margin-top: -1px;
      }
    }
  }
  .login-container__remember {
    text-align: center;
    margin-bottom: 30px;
    & > label {
      margin-bottom: 0;
      display: block;
      & > input {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    input[type=checkbox] + label {
      color: #5E5E5E;
      font-size: 13px;
      font-weight: 300;
      padding-left: 25px;
      svg {
        right: auto;
      }
    }
  }
  button {
    width: 72%;
    background-color: #72AF5E;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
}